// Define variables for your color scheme

// For example:
$red: #FD1015;
$black: black;
$blue: #6e8996;
$yellow: #FFC65A;
$orange: #E67E22;
$green:rgb(2, 85, 57);
$gray: rgb(83, 83, 83);
$white: white;
$logo: #2b4642;
$headers-color: #545454;
$body-color: #585b5c;
$button-hover: #114c3a
