// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6e8996;
$yellow: #FFC65A;
$orange: #E67E22;
$green:rgb(2, 85, 57);
$gray: rgb(99, 99, 99);
$light-gray: #F4F4F4;
$logo: #435B66;
$headers-color: #2d3c42;
$body-color: #4c5f68;
$button: #435B66
