// html {
// body {
//   margin: 0;
//   padding: 0;
//   height: 100vh;
// }
// }

// .main-container {
//   min-height: calc( 100vh - 125px);
//   display: flex;
//   flex-direction: column;
// }



  #background-image-boat {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://images.unsplash.com/photo-1535262412227-85541e910204?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .dark-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-height: 100vh;
    overflow-y: auto;
  }

  .login-wrapper h2 {
    color: $light-gray;
  }
