
<h1 class="booking-header"> Your Bookings</h1>
<div class="container">
  <% @bookings.each do |booking| %>
    <%= link_to booking_path(booking.id), class: "link-to-btn" do %>
        <%= render partial: "shared/booking-card", locals: { booking: booking } %>
    <% end %>
  <% end %>
</div>
