<div class="container">
  <div class="booking-show">
    <%= render partial: "shared/booking-card", locals: { booking: @booking } %>
  </div>

  </div class="booking-btns">
      <% if policy(@booking).edit? %>
        <%= link_to "Edit", edit_booking_path(@booking), class: "btn show-btn" %>
      <% end %>

      <% if policy(@booking).destroy? %>
        <%= button_to "Delete", booking_path(@booking), class: "btn show-btn", method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
      <% end %>

      <%= link_to "Add Review", new_booking_review_path(@booking), class: "btn show-btn" %>
  </div>
</div>
