<div class="card mb-3">
  <div class="d-flex justify-content-center align-items-center">
    <% if boat.photo.attached? %>
      <%= cl_image_tag boat.photo.key, class: "img-fluid boat-image" %>
    <% else %>
      <p class="text-center">No photo available</p>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= boat.name %></h5>
    <p class="card-text">Location: <%= boat.location %></p>
    <p class="card-text">Price: <%= boat.price %></p>
  </div>
</div>
