<div class="card mb-3">
  <%#=image_tag boat.image.url, class: "card-img-top", alt: boat.name%>
  <div class="card-body">
    <h5 class="card-title"><%= boat.name %></h5>
    <p class="card-text">Location: <%= boat.location %></p>
    <p class="card-text">Price: <%= boat.price %></p>
  </div>
</div>
