<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-location-dot fa-1x"></i> Destinations</a>
    <a href="#"><i class="fa-solid fa-lock fa-1x"></i> Privacy</a>
    <a href="#"><i class="fa-solid fa-info fa-1x"></i> Company details</a>
    <a href="#"><i class="fa-solid fa-earth-europe fa-1x"></i> Sitemap</a>
  </div>
  <div class="footer-copyright">
    <i class="fa-regular fa-copyright"></i> 2023 Boatbnb, Inc.
  </div>
</div>
 