<div class="navbar navbar-expand-md navbar-light navbar-boatbnb">
  <div class="container-fluid">
    <i class="fa-solid fa-sailboat fa-1x">  BoatB&B</i>

    <div class="nav-links">
      <ul class="navbar-nav me-auto">
          <li>
            <a class="nav-link" href="#">Home</a>
          </li>
          <li>
            <a class="nav-link" href="#">Login</a>
          </li>
      </ul>
    </div>
  </div>
</div>

<%# <div class="second-navbar">
  <div class="second-navbar-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div> %>
