  <div class="top-section">
    <div id="background-img">
      <div class="header this-container">
        <div class="search-bar">
          <%= render partial: "shared/search_bar", locals: { location: @locations } %>
        </div>
        <div class="text">
          <h1><i class="fa-solid fa-sailboat fa-1x">  BoatB&B</i></h1>
          <p class="mb-1">Number 1 Source for Boat Rentals</p>
        </div>
      </div>
    </div>
  </div>
