<h1>Booking Notification</h1>
<p>Hello <%= @owner.username %>,</p>

<p>Your boat has been booked by <%= @booker.username %> for the following dates:</p>
<p>Start Date: <%= @start_date %></p>
<p>End Date: <%= @end_date %></p>

<p>Thank you for using our platform!</p>

<p>Best regards,</p>
<p>The Boat BNB Team</p>
