<div class="container1" id="background-img">
  <div class="header">
    <div class="text-container mt-5">
      <div class="text">
          <h1><i class="fa-solid fa-sailboat fa-1x logo">  BoatB&B</i></h1>
        <h4>Your Number 1 Source for Boat Rentals</h6>
      </div>
      <div class="link justify-text-center">
        <%= link_to "Click here to find your perfect boat for your dates", boats_path, class: "btn btn-light text-decoration-none" %>
      </div>
    </div>
  </div>
</div>


<%# <div class="card-container">
  <div class="card">
    <img src="" alt="Boat Rental">
    <div class="card-content">
      <h2>Boat Rental</h2>
      <p>Explore the open waters with our luxury boat rentals.</p>
      <div class="price">£200 / day</div>
      <button class="book-button">Book Now</button>
    </div>
  </div>

  <div class="card">
    <img src="" alt="Boat Rental">
    <div class="card-content">
      <h2>Boat Rental</h2>
      <p>Explore the open waters with our luxury boat rentals.</p>
      <div class="price">£200 / day</div>
      <button class="book-button">Book Now</button>
    </div>
  </div>

  <div class="card">
    <img src="" alt="Boat Rental">
    <div class="card-content">
      <h2>Boat Rental</h2>
      <p>Explore the open waters with our luxury boat rentals.</p>
      <div class="price">£200 / day</div>
      <button class="book-button">Book Now</button>
    </div>
  </div>

  <div class="card">
    <img src="  " alt="Boat Rental">
    <div class="card-content">
      <h2>Boat Rental</h2>
      <p>Explore the open waters with our luxury boat rentals.</p>
      <div class="price">£200 / day</div>
      <button class="book-button">Book Now</button>
    </div>
  </div>
</div> %>
