.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
}

.card {
  flex-basis: calc(25% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
  margin: 0 20px;
  height: 400px; /* Don't forget the semicolon */

  .boat-image {
    max-height: 70%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    max-height: 30%;
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: $headers-color;
      font-family: $headers-font;
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-family: $body-font;
      color: $body-color;
      font-size: 1rem;
      margin: 10px 0;
    }

    .price {
      font-size: 1.2rem;
      font-family: $body-font;
      color: $body-color;
      margin-bottom: 10px;
    }

    .book-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
