.submit-btn {
  background-color: #a9bdcd;
  color: #EFEFEF;
  border: none;
  padding: 10px;
}

.submit-btn:hover {
  color: #EFEFEF;;
  background-color: #96a8b7;

}

.show-btn {
  text-decoration: none;
  border: none;
  color: #6c869a;
  background-color: transparent;
}

.show-btn:hover {
  color: #04324b;
}
