.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 33px;
  color: $light-gray;
  background-color: $logo;
  border: solid 2px $light-gray;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;

  &:hover {
    color: $black;
    background-color: rgba(255, 255, 255, 0.33);
    border: solid 2px $black;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    width: 120px;
  }
}

.custom-submit-btn {
  --bs-btn-color: $light-gray;
}

.show-btn {
  text-decoration: none;
  border: none;
  color: #6c869a;
  background-color: transparent;
}

.show-btn:hover {
  color: #04324b;
}

.search-button {
  width: 100px;
  height: 33px;
  background-color: $logo;
  color: $light-gray;
  border: solid 2px $light-gray;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.facebook-btn, .social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 33px;
  border-radius: 25px;
  background: transparent;
  border: solid 2px $light-gray;
  color: $light-gray;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #1877F2;
  }

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (max-width: 768px) {
    background: #1877F2;
  }
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 33px;
  color: $light-gray;
  background-color: $logo;
  border: solid 2px $light-gray;
  border-radius: 25px;
  margin: auto;
  cursor: pointer;

  &:hover {
    color: $black;
    background-color: rgba(255, 255, 255, 0.33);
    border: solid 2px $black;
    font-weight: bold;
  }
}

.button {
  max-width: 100px;
}
