:root {
  font-size: 12px;
  // box-sizing: inherit;
}

#listing-header {
  text-align: center;
  font-weight: 900;
  color: #F1F0E8;
  text-shadow: rgb(114, 114, 128);;
}

.listing-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  height: 66%;
  max-height: 600px;
  color: $light-gray;
  font-size: 12px;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);

  .form-group {
    padding: 2rem;
    padding-bottom: 0;
  }

  .form-group input{
    width: 100%;
    border: solid 1px $headers-color;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.75rem;
    transition: box-shadow 200ms ease-out;
  }

  .form-group input:focus,
  .form-group input:active {
    box-shadow: 0 0 0 0.25rem $logo;
  }
}
