.footer {
  background: $white;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-top: auto;
  padding: 0vh 0vh;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 3.33vw;

  a {
    color: $logo;
    opacity: 0.75;
    text-decoration: none;
    font-size: 1.5vh;

    &:hover {
      opacity: 1;
    }
  }

  .flexlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: $logo;
  opacity: 0.66;
  font-size: 3vw;
}

@media (min-width: 576px) {

  .footer-links {
    gap: 5vw;

    a {
      font-size: 2vh;
    }
  }

  .flexlink {
    flex-direction: row;
  }

  .footer-copyright {
    font-size: 2vh;
  }
}
