.log-in-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 50rem;
  height: 66%;
  max-height: 60rem;
  color: $white;
  font-size: 1.2rem;
  border: 0.2rem solid rgba(255, 255, 255, .25);
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(0.3rem);

  .form-inputs {
    padding: 3vh;
    padding-bottom: 0;
  }

  .form-inputs input{
    width: 100%;
    border: solid 0.1rem $headers-color;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.75rem;
    transition: box-shadow 200ms ease-out;
  }

  .form-inputs input:focus,
  .form-inputs input:active {
    box-shadow: 0 0 0 0.25rem $logo;
  }

  .remember-me {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  .custom-checkbox {
    margin-right: 0.5rem;
  }

  .btn-links {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    color: $black;
  }

  .social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fa-facebook-f {
    font-size: 2rem;
    align-content: center;
  }

  .link-registration a {
    color: $white;
    text-decoration: none;
    padding: 0.5rem;

    &:hover {
      color: $black;
    }
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}
