.custom-marker {
  width: 30px;
  height: 40px;
  margin-left: -15px;
  margin-top: -30px;

  background-image: image-url('/assets/pin2.png');
  background-size: cover;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.custom-marker:hover {
  cursor: pointer;
}
