.navbar-boatbnb {
  justify-content: space-between;
  background: white;
}

.navbar-boatbnb {
  flex-grow: 0;
}

.logo {
  height: 70px;
  color: $logo;
  padding-top: 25px;
}

.logo-hover:hover {
  color: #7a99a7;
}

.nav-link {
  display: flex;
  align-items: center;
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 10px;
}
.nav-link :hover {
  opacity: 0.15;
}
// .second-navbar {
//   background: #F4F4F4;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 80px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
// .second-navbar-links {
//   display: flex;
//   align-items: center;
// }
// .second-navbar-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .second-navbar-links a:hover {
//   opacity: 1;
// }
