.navbar-boatbnb {
  justify-content: space-between;
  background: white;
}

.logo {
  height: 40px;
  color: $logo;
  display: flex;
  align-items: center;
}

.logo-hover:hover {
  color: #7a99a7;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #7a99a7;
  opacity: 1;
  text-decoration: none;
  font-size: 17px;
  flex-wrap: nowrap;
  gap: 8px;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 576px) {

  .navbar-boatbnb {
    height: 66px;
  }

  .container-fluid {
    flex-direction: column;
    align-items: center;

    .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 20px;
    color: $logo;
    gap: 5px;
    }

    .nav-link {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 14px;

    /* Increase space between links for specific screen sizes */
      @media (min-width: 325px) and (max-width: 376px) {
        gap: 20px;
      /* Adjust space between links for 320px to 375px screens */
      }

      @media (min-width: 377px) and (max-width: 426px) {
        gap: 33px; /* Adjust space between links for 376px to 420px screens */
      }
    }
  }
}
