.navbar-boatbnb {
  justify-content: space-between;
  background: white;
}

.logo {
  height: 50px;
  color: $logo;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo-hover:hover {
  color: #7a99a7;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #7a99a7;
  opacity: 1;
  text-decoration: none;
  font-size: 17px;
  flex-wrap: nowrap;
  gap: 8px;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */

  .logo {
    margin-bottom: 15px;
    height: 50px;
    color: $logo;
    justify-content: center;
    margin-left: 5px;
  }

  .logo-hover:hover {
    color: #7a99a7;
  }

  .nav-link {
    font-size: 12px;
    padding-left: 15px; /* Adjust padding for smaller devices */
    padding-right: 15px; /* Adjust padding for smaller devices */
  }
  }
}
