.review-card {
  background-color: $light-gray;
  padding: 20px;
  border-style: groove;
  border-radius: 20px;
  margin: 25px;
  box-shadow: 0 0 10px 0 rgba(95, 111, 126, 0.307);

  i {
    color: $blue;
  }

  p {
    color: $body-color;
  }
}

.review-header {
  color: $logo;
}
.review-name {
  margin: 0;
  font-style: $body-font;
  color: $blue;
  font-size: 20px;
  font-weight: 1000;
}

.review-date  {
  font-style: $body-font;
  font-size: 12px;
  color: $blue;
  margin: 0;
}

.review-comment {
  font-style: $body-font;
  font-size: 16px;
  margin: 0;
}
