#review-header {
  margin-top: 100px;
  text-align: center;
  font-weight: 900;
  color: #F1F0E8;
  text-shadow: rgb(114, 114, 128);
  padding-top: 200px;
}

.review-card {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  background-color: #F1F0E8;
  border-radius: 5%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
//   margin-bottom: 400px;
}
