// .search-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
//   .input-fields {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 2px;
//   }

//   .location-input {
//     flex: 1;
//     border: 1px solid $gray;
//     border-radius: 8px;
//   }

//   .date-input-container {
//     flex: 1;
//     border-radius: 8px;
//   }

//   .search-button {
//     background-color: #7a99a7;
//     color: #fff;
//     border: solid 2px #fff;
//     border-radius: 25px;
//     font-size: 14px;
//     margin-top: 10px;
//     cursor: pointer;
//   }
// // }

// .search-button:hover {
//   background-color: #03b0fa;
//   transition: background-color 0.3s;
// }

// .search-button i {
//   margin-right: 5px;
// }

@media (min-width: 576px) {
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-fields {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 2px;

      .location-input {
        border: 1px solid $gray;
        border-radius: 8px;
        width: 33%;
      }

      .date-input  {
        width: 33%;
      }
    }

    .search-button {
      background-color: #7a99a7;
      color: #fff;
      border: solid 2px #fff;
      border-radius: 25px;
      font-size: 14px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

@media (min-width: 0px) and (max-width: 575px) {

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .location-input {
      padding: 4px;
      border: 1px solid $gray;
      border-radius: 8px;
      font-size: 16px;
      outline: none;
    }

    .date-input-container {
      .date-input {
        display: none;
      }
    }

    .search-button {
      background-color: #7a99a7;
      color: #fff;
      border: solid 2px #fff;
      border-radius: 25px;
      font-size: 14px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
