.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.location-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.date-input-container {
  flex: 1;
  display: flex;

  margin-right: 5px;
}

.date-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #7a99a7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #333a3d;
}

.search-button i {
  margin-right: 5px;
}
