.search-bar {
  text-align: center; /* Adjust alignment as needed */
  margin-top: 20px;   /* Add margin for spacing */
}

.search-bar form {
  display: flexbox;
}

.search-bar input[type="text"] {
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
