#background-img {
  background: url('https://images.unsplash.com/photo-1499403474843-04e72c14df8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  // background-position: top left;
  background-size: cover;
  width: 100vw;
  height: 20vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.search-form {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2vw;
  margin-top: auto;
  // gap: 1vw;
}

.text {
  align-self: flex-end;
}

p {
  color: $logo;
  font-weight: bold;
  font-size: large;
}

// @media (min-width: 577px) and (max-width:1023px) {
//   .top-section {
//     overflow: hidden;
//     position: relative;

//     .header {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       padding: 5px;

//       .text {
//         justify-content: center;
//         align-items: center;
//       }

//       h1 {
//         color: $logo;
//         text-shadow: rgb(114, 114, 128);
//         // font-family: $headers-font;
//         font-size: 25px;
//       }

//       p {
//         font-size: smaller;
//       }
//     }
//   }
// }

// @media (min-width: 50px) and (max-width: 576px) {
//   .top-section {

//     .header {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//       height: 100%;
//       }

//     .text {
//       display: none;
//     }
//   }
// }
