<% if reviews.any? %>
  <ul class="list-group">
    <% reviews.each do |review| %>
      <%# <li  class="list-group-item"> %>
      <div class="review-card">
          <p class="star-rating">Star rating: <%= review.rating.times do %>
              <i class="fa-solid fa-star"></i>
              <% end %></p>
          <p>Comment: <%= review.comment %></p>
          <p>From: <%= review.user.username.capitalize %></p>
          <p>Date: <%= review.created_at %></p>
          <!-- Display other review information if needed -->
      </div>
      <%# </li> %>
    <% end %>
  <%# </ul> %>
<% else %>
  <p>No reviews available.</p>
<% end %>
