<% if reviews.any? %>
  <ul class="list-group">
    <% reviews.each do |review| %>
      <div class="d-flex justify-content-between">
        <div>
          <p class="review-name"><%= review.user.username.capitalize %></p>
          <p class="review-date"><%= review.created_at.strftime("%Y-%m-%d") %></p>
        </div>

        <p class="star-rating">
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </p>
      </div>

      <div class="border-bottom mb-3">
        <p class="review-comment"><%= review.comment %></p>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>No reviews available.</p>
<% end %>
