<main class="container text-center">
  <h1>My Listed Boats</h1>
</div>
<div class="container-fluid ">
  <div class="row row-cols-1 row-cols-md-4 justify-content-center">
    <% @boats.each do |boat| %>
      <div class="col mb-2">
        <a href="<%= boat_path(boat) %>" class="text-decoration-none">
          <%= render partial: "shared/boatcard", locals: { boat: boat } %>
        </a>
      </div>
    <% end %>
  </div>
</main>
